<link rel="stylesheet" type="text/css" href="/css/chitter_board.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
  <h1> Welcome <%= @user.username %> </h1>
</head>

<body>
  <a class="link" href='/add_peep'>Post a new peep</a>
  <p class="search">Search for peeps:</a>
  <form class="search" action='/peep_search' method='post'>
    <input type='text' name='keyword'>
    <input type='submit' value='Search'>
  </form>
  <br>
  <ul style="list-style: none;">
    <% @peeps.reverse.each do |peep| %>
      <li class='peep'>
        <%= peep.message%>
        <br>
        <% if @user.id == peep.user_id %>
          <form action="/chitter/<%= peep.id %>" method="post">
            <input type='hidden' name='_method' value='DELETE'/>
            <button type="submit" name="Delete" class="btn"><i class="fa fa-trash"></i></button>
          </form>
        <% end %>
        <form action="/chitter/<%= peep.id %>" method="post">
          <input type='hidden' name='_method' value='PATCH'/>
          <button type="submit" name="like" class="btn" id="like_btn"><i class="fa fa-heart"></i><%= peep.likes %></button>
        </form>
        <p id='date'> <%= peep.date %> </p>
      </li>
      <br>
    <% end %>
  </ul>
</body>

